/* line 5, ../../../../../../../../lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 28, ../sass/main.scss */
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

/* line 35, ../sass/main.scss */
.screen-reader-text:hover,
.screen-reader-text:active,
.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
  /* Above WP toolbar. */
}

/* line 60, ../sass/main.scss */
body {
  background: #fefdfd;
  color: #333;
  font: 120%/1.61803399 Arial, Helvetica, sans-serif;
  line-height: 1.45;
  padding: 0 5px;
  margin: 10px 0;
}

@media only screen and (min-width: 640px) {
  /* line 69, ../sass/main.scss */
  body {
    margin-bottom: 20px;
    margin-top: 20px;
  }
}
/* line 74, ../sass/main.scss */
a {
  text-decoration: none;
}

/* line 75, ../sass/main.scss */
a:hover {
  -moz-transition-property: color;
  -o-transition-property: color;
  -webkit-transition-property: color;
  transition-property: color;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -moz-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  -webkit-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
}

/* line 80, ../sass/main.scss */
a:active,
a:hover {
  outline: 0;
}

/* line 84, ../sass/main.scss */
figure {
  margin: 0;
}

/* line 85, ../sass/main.scss */
.entry-content img,
.avatar {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

/* line 92, ../sass/main.scss */
.site {
  margin: 0 auto;
  max-width: 600px;
}

/* line 98, ../sass/main.scss */
.size-auto,
.size-full,
.size-large,
.size-medium,
.size-thumbnail {
  max-width: 100%;
  height: auto;
}

/* line 111, ../sass/main.scss */
.site-branding {
  overflow: hidden;
  *zoom: 1;
  display: block;
}

/* line 115, ../sass/main.scss */
.site-branding-box-left {
  float: left;
  margin-right: 20px;
  width: 76px;
}

/* line 120, ../sass/main.scss */
.site-branding-box-right {
  color: #666;
  float: left;
}

/* line 124, ../sass/main.scss */
.site-branding-box-right:hover {
  color: #b25e80;
}

/* line 125, ../sass/main.scss */
.site-title {
  font-size: 300%;
  letter-spacing: 5px;
  line-height: 1;
}

/* line 131, ../sass/main.scss */
.site-description {
  /*margin: 0;*/
}

/* line 146, ../sass/main.scss */
#colophon,
#site-navigation,
#content {
  display: none;
}

@media only screen and (max-width: 480px) {
  /* line 171, ../sass/main.scss */
  .menu-toggle {
    background-color: #eee;
    border: 1px solid #fff;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    display: block;
    font-size: 80%;
    letter-spacing: 2px;
    margin: 0 auto;
    padding: 10px 20px;
    text-transform: uppercase;
  }
}
@media only screen and (min-width: 481px) {
  /* line 171, ../sass/main.scss */
  .menu-toggle {
    display: none;
  }
}

/* line 188, ../sass/main.scss */
.main-navigation ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
}
/* line 193, ../sass/main.scss */
.main-navigation a {
  color: #666;
  display: block;
  letter-spacing: 3px;
  padding: 0;
  text-transform: uppercase;
  text-indent: 3px;
  word-spacing: -.1rem;
}
/* line 203, ../sass/main.scss */
.main-navigation a:hover {
  color: #b25e80;
}
@media only screen and (min-width: 481px) {
  /* line 206, ../sass/main.scss */
  .main-navigation ul {
    text-align: justify;
  }
  /* line 209, ../sass/main.scss */
  .main-navigation li {
    display: inline-block;
  }
  /* line 212, ../sass/main.scss */
  .main-navigation a {
    padding: 20px 10px;
  }
  /* line 215, ../sass/main.scss */
  .main-navigation li:first-of-type a {
    margin-left: -3px;
    padding: 20px 10px 20px 0;
  }
  /* line 219, ../sass/main.scss */
  .main-navigation li:last-of-type a {
    margin-left: -3px;
    padding: 20px 0 20px 10px;
  }
  /* line 223, ../sass/main.scss */
  .main-navigation ul:after, .main-navigation ul:before {
    content: '';
    display: inline-block;
    width: 100%;
  }
}

@media only screen and (max-width: 480px) {
  /* line 231, ../sass/main.scss */
  .main-navigation {
    margin: 40px auto;
    text-align: center;
  }

  /* line 235, ../sass/main.scss */
  .main-navigation ul {
    display: none;
  }

  /* line 238, ../sass/main.scss */
  .toggled ul {
    display: block;
  }

  /* line 241, ../sass/main.scss */
  .main-navigation a {
    background-color: #eee;
    border-bottom: 1px solid #fff;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    font-size: 80%;
    padding: 10px 0;
    text-align: center;
    width: 100%;
  }
}
@media only screen and (min-width: 481px) {
  /* line 252, ../sass/main.scss */
  .sub-menu {
    display: none;
  }
}
/* line 259, ../sass/main.scss */
.site-content a {
  color: #b25e80;
}

/* line 262, ../sass/main.scss */
.site-content a:hover {
  color: #73374f;
}

/* line 265, ../sass/main.scss */
article:first-of-type .entry-title {
  margin-top: 0;
}

/* line 266, ../sass/main.scss */
.entry-meta {
  font-size: 89%;
}

/* line 272, ../sass/main.scss */
.site-footer {
  border-top: 1px solid #999;
  color: #999;
  font-size: 90%;
  margin-top: 60px;
  padding-top: 20px;
}
/* line 278, ../sass/main.scss */
.site-footer a {
  color: #999;
}
/* line 279, ../sass/main.scss */
.site-footer a:hover {
  color: #73374f;
}

/* line 281, ../sass/main.scss */
.site-info {
  font-style: italic;
}
