/* line 27, ../sass/main.scss */
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

/* line 34, ../sass/main.scss */
.screen-reader-text:hover,
.screen-reader-text:active,
.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
  /* Above WP toolbar. */
}

/* line 59, ../sass/main.scss */
body {
  background: #fefdfd;
  color: #333;
  font: 120%/1.61803399 Arial, Helvetica, sans-serif;
  line-height: 1.45;
  padding: 0 5px;
  margin: 10px 0;
}

@media only screen and (min-width: 640px) {
  /* line 68, ../sass/main.scss */
  body {
    margin-bottom: 20px;
    margin-top: 20px;
  }
}
/* line 73, ../sass/main.scss */
a {
  text-decoration: none;
}

/* line 74, ../sass/main.scss */
a:hover {
  -moz-transition-property: color;
  -o-transition-property: color;
  -webkit-transition-property: color;
  transition-property: color;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -moz-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  -webkit-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
}

/* line 79, ../sass/main.scss */
a:active,
a:hover {
  outline: 0;
}

/* line 83, ../sass/main.scss */
figure {
  margin: 0;
}

/* line 84, ../sass/main.scss */
.entry-content img,
.avatar {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

/* line 91, ../sass/main.scss */
.site {
  margin: 0 auto;
  max-width: 600px;
}

/* line 97, ../sass/main.scss */
.size-auto,
.size-full,
.size-large,
.size-medium,
.size-thumbnail {
  max-width: 100%;
  height: auto;
}

/* line 110, ../sass/main.scss */
.site-branding {
  display: table;
  line-height: 1;
}

/* line 114, ../sass/main.scss */
.site-branding-box-left {
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADMAAAA5CAMAAACs5ON+AAAAvVBMVEWyXoCyX4CzYIG0YYK0YoO0Y4O1ZYW2Zoa2aIe3aYi4a4q4bYu7cI67co+8dJG9dpO+eZW/e5bDgZzEgpzFh6DGiKHGiqPIjKTJjaXLkanKk6nOm6/Pm7DSoLTUpLjTpbjWq7zXrL3bs8Pbs8Tdt8fduMjfvczgv8zmy9bny9fo0Nro0tvr1uDr19/v3eXw4Obx4ujx4+rz5+z06e327fH48fT58fX69vj79vj7+Pn8+fr+/f7+/v7//v7////II9XOAAAAAWJLR0QAiAUdSAAAAAlwSFlzAAABEAAAARABBMRn7QAAAAd0SU1FB98EDQ4fMb5MWekAAAC/SURBVEjH7dU1EsNAFATRMTMzMzPz3P9YTlwqS1Z5/waOvJ2/uAFbObqVxdeWLmT1naDuYmoK4z98kGNAYdD7MF0VQfzmILeE0mDiMGM1QcFh8gKDtY1sJAQNm2mITPD0Rs4hkcHgzfRlBMm7RR4pocHMMlMpQdkyJbHB9kV2HrlpvUxTThC+kCSvEQ2DEUlyqEOQfpBkRstgTnKhR1AlWdE03j33Pk2DDtu6BNFTTNugCJPp17k+2BhjjPkL8wSjIqpqb5cnVAAAAABJRU5ErkJggg==") no-repeat;
  -moz-background-size: contain;
  -o-background-size: contain;
  -webkit-background-size: contain;
  background-size: contain;
  -moz-background-clip: padding;
  -o-background-clip: padding-box;
  -webkit-background-clip: padding;
  background-clip: padding-box;
  display: table-cell;
}

/* line 120, ../sass/main.scss */
.site-branding-box-right {
  color: #666;
  display: table-cell;
}
/* line 123, ../sass/main.scss */
.site-branding-box-right p {
  margin: 0;
}
/* line 124, ../sass/main.scss */
.site-branding-box-right span {
  white-space: nowrap;
}

/* line 126, ../sass/main.scss */
.site-branding-box-right:hover {
  color: #b25e80;
}

/* line 127, ../sass/main.scss */
.site-title {
  font-weight: bold;
  letter-spacing: 4px;
  -moz-animation: letterspace 1.5s;
  -webkit-animation: letterspace 1.5s;
  animation: letterspace 1.5s;
  margin: 0;
}

@-moz-keyframes letterspace {
  0% {
    letter-spacing: -6px;
  }
  100% {
    letter-spacing: 4px;
  }
}
@-webkit-keyframes letterspace {
  0% {
    letter-spacing: -6px;
  }
  100% {
    letter-spacing: 4px;
  }
}
@keyframes letterspace {
  0% {
    letter-spacing: -6px;
  }
  100% {
    letter-spacing: 4px;
  }
}
/* line 139, ../sass/main.scss */
.site-description {
  margin: 0;
}

@media only screen and (max-width: 231px) {
  /* line 144, ../sass/main.scss */
  .site-branding-box-left {
    border-bottom: 3px solid transparent;
    border-top: 2px solid transparent;
    width: 32px;
  }

  /* line 145, ../sass/main.scss */
  .site-title {
    font-size: 87%;
    max-width: 156px;
  }

  /* line 146, ../sass/main.scss */
  .site-description {
    display: none;
  }
}
@media only screen and (min-width: 232px) and (max-width: 300px) {
  /* line 149, ../sass/main.scss */
  .site-branding-box-left {
    border-bottom: 2px solid transparent;
    border-top: 2px solid transparent;
    width: 40px;
  }

  /* line 150, ../sass/main.scss */
  .site-title {
    font-size: 87%;
  }

  /* line 151, ../sass/main.scss */
  .site-description {
    font-size: 60%;
  }
}
@media only screen and (min-width: 301px) and (max-width: 391px) {
  /* line 154, ../sass/main.scss */
  .site-branding-box-left {
    border-bottom: 2px solid transparent;
    border-top: 2px solid transparent;
    width: 52px;
  }

  /* line 155, ../sass/main.scss */
  .site-title {
    font-size: 123%;
  }

  /* line 156, ../sass/main.scss */
  .site-description {
    font-size: 80%;
  }
}
@media only screen and (min-width: 392px) and (max-width: 452px) {
  /* line 159, ../sass/main.scss */
  .site-branding-box-left {
    border-bottom: 2px solid transparent;
    border-top: 4px solid transparent;
    width: 44px;
  }

  /* line 160, ../sass/main.scss */
  .site-title {
    font-size: 192%;
  }

  /* line 161, ../sass/main.scss */
  .site-description {
    font-size: 69%;
    padding-left: 1px;
  }
}
@media only screen and (min-width: 453px) and (max-width: 480px) {
  /* line 164, ../sass/main.scss */
  .site-branding-box-left {
    border-bottom: 2px solid transparent;
    border-top: 3px solid transparent;
    width: 40px;
  }

  /* line 165, ../sass/main.scss */
  .site-title {
    font-size: 164%;
  }

  /* line 166, ../sass/main.scss */
  .site-description {
    font-size: 69%;
    padding-left: 1px;
  }
}
@media only screen and (min-width: 481px) {
  /* line 169, ../sass/main.scss */
  .site-branding-box-left {
    border-bottom: 2px solid transparent;
    border-top: 5px solid transparent;
    width: 58px;
  }

  /* line 170, ../sass/main.scss */
  .site-title {
    font-size: 225%;
  }

  /* line 171, ../sass/main.scss */
  .site-description {
    font-size: 80%;
    padding-left: 1px;
  }
}
@media only screen and (max-width: 480px) {
  /* line 176, ../sass/main.scss */
  .menu-toggle {
    background-color: #eee;
    border: 1px solid #fff;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    display: block;
    font-size: 80%;
    letter-spacing: 2px;
    margin: 0 auto;
    padding: 10px 20px;
    text-transform: uppercase;
  }
}
@media only screen and (min-width: 481px) {
  /* line 176, ../sass/main.scss */
  .menu-toggle {
    display: none;
  }
}

/* line 193, ../sass/main.scss */
.main-navigation ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
}
/* line 198, ../sass/main.scss */
.main-navigation a {
  color: #666;
  display: block;
  letter-spacing: 3px;
  padding: 0;
  text-transform: uppercase;
  text-indent: 3px;
  word-spacing: -.1rem;
}
/* line 208, ../sass/main.scss */
.main-navigation a:hover {
  color: #b25e80;
}
@media only screen and (min-width: 481px) {
  /* line 211, ../sass/main.scss */
  .main-navigation ul {
    text-align: justify;
  }
  /* line 214, ../sass/main.scss */
  .main-navigation li {
    display: inline-block;
  }
  /* line 217, ../sass/main.scss */
  .main-navigation a {
    padding: 20px 10px;
  }
  /* line 220, ../sass/main.scss */
  .main-navigation li:first-of-type a {
    margin-left: -3px;
    padding: 20px 10px 20px 0;
  }
  /* line 224, ../sass/main.scss */
  .main-navigation li:last-of-type a {
    margin-left: -3px;
    padding: 20px 0 20px 10px;
  }
  /* line 228, ../sass/main.scss */
  .main-navigation ul:after, .main-navigation ul:before {
    content: '';
    display: inline-block;
    width: 100%;
  }
}

@media only screen and (max-width: 480px) {
  /* line 236, ../sass/main.scss */
  .main-navigation {
    margin: 40px auto;
    text-align: center;
  }

  /* line 240, ../sass/main.scss */
  .main-navigation ul {
    display: none;
  }

  /* line 243, ../sass/main.scss */
  .toggled ul {
    display: block;
  }

  /* line 246, ../sass/main.scss */
  .main-navigation a {
    background-color: #eee;
    border-bottom: 1px solid #fff;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    font-size: 80%;
    padding: 10px 0;
    text-align: center;
    width: 100%;
  }
}
@media only screen and (min-width: 481px) {
  /* line 257, ../sass/main.scss */
  .sub-menu {
    display: none;
  }
}
/* line 264, ../sass/main.scss */
.site-content a {
  color: #b25e80;
}

/* line 267, ../sass/main.scss */
.site-content a:hover {
  color: #73374f;
}

/* line 270, ../sass/main.scss */
article:first-of-type .entry-title {
  margin-top: 0;
}

/* line 271, ../sass/main.scss */
.entry-meta {
  font-size: 89%;
}

/* line 277, ../sass/main.scss */
.site-footer {
  border-top: 1px solid #999;
  color: #999;
  font-size: 90%;
  margin-top: 60px;
  padding-top: 20px;
}
/* line 283, ../sass/main.scss */
.site-footer a {
  color: #999;
}
/* line 284, ../sass/main.scss */
.site-footer a:hover {
  color: #73374f;
}

/* line 286, ../sass/main.scss */
.site-info {
  font-style: italic;
}
