/* line 27, ../sass/main.scss */
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

/* line 34, ../sass/main.scss */
.screen-reader-text:hover,
.screen-reader-text:active,
.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
  /* Above WP toolbar. */
}

/* line 59, ../sass/main.scss */
body {
  background: #fefdfd;
  color: #333;
  font: 120%/1.61803399 sans-serif;
  line-height: 1.45;
  padding: 0 5px;
  margin: 10px 0;
}

/* line 67, ../sass/main.scss */
a {
  text-decoration: none;
}

/* line 70, ../sass/main.scss */
a:hover {
  -moz-transition-property: color;
  -o-transition-property: color;
  -webkit-transition-property: color;
  transition-property: color;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -moz-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  -webkit-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
}

/* line 75, ../sass/main.scss */
figure {
  margin: 0;
}

/* line 76, ../sass/main.scss */
.entry-content img,
.avatar {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

/* line 80, ../sass/main.scss */
.entry-content img {
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 4px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 4px;
  box-shadow: rgba(0, 0, 0, 0.2) 0 1px 4px;
}

/* line 83, ../sass/main.scss */
.site {
  margin: 0 auto;
  max-width: 600px;
}

/* line 89, ../sass/main.scss */
.size-auto,
.size-full,
.size-large,
.size-medium,
.size-thumbnail {
  max-width: 100%;
  height: auto;
}

/* line 102, ../sass/main.scss */
.site-branding {
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADMAAAA5CAMAAACs5ON+AAAAvVBMVEWyXoCyX4CzYIG0YYK0YoO0Y4O1ZYW2Zoa2aIe3aYi4a4q4bYu7cI67co+8dJG9dpO+eZW/e5bDgZzEgpzFh6DGiKHGiqPIjKTJjaXLkanKk6nOm6/Pm7DSoLTUpLjTpbjWq7zXrL3bs8Pbs8Tdt8fduMjfvczgv8zmy9bny9fo0Nro0tvr1uDr19/v3eXw4Obx4ujx4+rz5+z06e327fH48fT58fX69vj79vj7+Pn8+fr+/f7+/v7//v7////II9XOAAAAAWJLR0QAiAUdSAAAAAlwSFlzAAABEAAAARABBMRn7QAAAAd0SU1FB98EDQ4fMb5MWekAAAC/SURBVEjH7dU1EsNAFATRMTMzMzPz3P9YTlwqS1Z5/waOvJ2/uAFbObqVxdeWLmT1naDuYmoK4z98kGNAYdD7MF0VQfzmILeE0mDiMGM1QcFh8gKDtY1sJAQNm2mITPD0Rs4hkcHgzfRlBMm7RR4pocHMMlMpQdkyJbHB9kV2HrlpvUxTThC+kCSvEQ2DEUlyqEOQfpBkRstgTnKhR1AlWdE03j33Pk2DDtu6BNFTTNugCJPp17k+2BhjjPkL8wSjIqpqb5cnVAAAAABJRU5ErkJggg==") no-repeat;
  -moz-background-size: contain;
  -o-background-size: contain;
  -webkit-background-size: contain;
  background-size: contain;
  color: #666;
  display: block;
  height: auto;
  line-height: 1;
}

/* line 110, ../sass/main.scss */
.site-branding:hover {
  color: #b25e80;
}

/* line 111, ../sass/main.scss */
.site-title {
  font-weight: bold;
  letter-spacing: 4px;
  -moz-animation: letterspace 1.5s;
  -webkit-animation: letterspace 1.5s;
  animation: letterspace 1.5s;
  margin: 0;
  word-spacing: -1px;
}

@-moz-keyframes letterspace {}
@-webkit-keyframes letterspace {}
/* line 123, ../sass/main.scss */
.site-description {
  margin: 0;
}

@media only screen and (max-width: 231px) {
  /* line 131, ../sass/main.scss */
  .site-branding {
    padding-left: 36px;
  }

  /* line 132, ../sass/main.scss */
  .site-title {
    font-size: 87%;
    max-width: 156px;
  }

  /* line 133, ../sass/main.scss */
  .site-description {
    display: none;
  }
}
@media only screen and (min-width: 232px) and (max-width: 300px) {
  /* line 136, ../sass/main.scss */
  .site-branding {
    padding-left: 43px;
  }

  /* line 137, ../sass/main.scss */
  .site-title {
    font-size: 87%;
  }

  /* line 138, ../sass/main.scss */
  .site-description {
    font-size: 60%;
  }
}
@media only screen and (min-width: 301px) and (max-width: 391px) {
  /* line 141, ../sass/main.scss */
  .site-branding {
    padding-left: 55px;
  }

  /* line 142, ../sass/main.scss */
  .site-title {
    font-size: 123%;
  }

  /* line 143, ../sass/main.scss */
  .site-description {
    font-size: 80%;
    max-width: 310px;
  }
}
@media only screen and (min-width: 392px) and (max-width: 452px) {
  /* line 146, ../sass/main.scss */
  .site-branding {
    padding-left: 50px;
  }

  /* line 147, ../sass/main.scss */
  .site-title {
    font-size: 192%;
  }

  /* line 148, ../sass/main.scss */
  .site-description {
    font-size: 69%;
  }
}
@media only screen and (min-width: 453px) {
  /* line 151, ../sass/main.scss */
  .site-branding {
    padding-left: 61px;
  }

  /* line 152, ../sass/main.scss */
  .site-title {
    font-size: 225%;
  }

  /* line 153, ../sass/main.scss */
  .site-description {
    font-size: 80%;
  }
}
/* line 161, ../sass/main.scss */
.main-navigation button {
  display: none;
}
/* line 162, ../sass/main.scss */
.main-navigation ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
}
/* line 168, ../sass/main.scss */
.main-navigation ul:after, .main-navigation ul:before {
  content: '';
  display: inline-block;
  width: 100%;
}
/* line 173, ../sass/main.scss */
.main-navigation li {
  display: inline-block;
}
/* line 176, ../sass/main.scss */
.main-navigation a {
  color: #666;
  display: block;
  letter-spacing: 3px;
  padding: 20px 10px;
  text-transform: uppercase;
  text-indent: 3px;
  word-spacing: -.1rem;
}
/* line 185, ../sass/main.scss */
.main-navigation a:hover {
  color: #b25e80;
}
/* line 186, ../sass/main.scss */
.main-navigation li:first-of-type a {
  margin-left: -3px;
  padding: 20px 10px 20px 0;
}
/* line 190, ../sass/main.scss */
.main-navigation li:last-of-type a {
  margin-left: -3px;
  padding: 20px 0 20px 10px;
}

/* line 200, ../sass/main.scss */
.site-content a {
  color: #b25e80;
}

/* line 203, ../sass/main.scss */
.site-content a:hover {
  color: #73374f;
}

/* line 206, ../sass/main.scss */
article:first-of-type .entry-title {
  margin-top: 0;
}

/* line 207, ../sass/main.scss */
.entry-meta {
  font-size: 89%;
}

/* line 213, ../sass/main.scss */
.site-footer {
  border-top: 1px solid #999;
  color: #999;
  font-size: 90%;
  margin-top: 60px;
  padding-top: 20px;
}
/* line 219, ../sass/main.scss */
.site-footer a {
  color: #999;
}
/* line 220, ../sass/main.scss */
.site-footer a:hover {
  color: #73374f;
}

/* line 222, ../sass/main.scss */
.site-info {
  font-style: italic;
}
