// hm15
// Main stylesheet

// Imports
@import "compass/css3";
@import "compass/utilities/general/clearfix";



// Variables
////////////////////////////////////////////////////////////////////////////////
//	Colors
$ci-color: #b25e80;	// For headings & links
$font-color: #333;
$header-color: #666;
$link-hover-color: darken($ci-color, 20%);
$footer-color: #999;

$spc: 10px;
$ls-title: 4px;
$letter-spacing: 3px;



// Accessibility
////////////////////////////////////////////////////////////////////////////////
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
}
.screen-reader-text:hover,
.screen-reader-text:active,
.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar. */
}



// Common
////////////////////////////////////////////////////////////////////////////////
body {
	background:  lighten($ci-color, 46%);
	color: $font-color;
	font: 120%/1.61803399 sans-serif;
	line-height: 1.45;
	padding: 0 5px;
	margin: $spc 0;
}
a {
	text-decoration: none;
}
a:hover {
	@include transition-property(color);
	@include transition-duration(.2s);
	@include transition-timing-function(ease-in);
}
figure {margin: 0}
.entry-content img,
.avatar {
	@include border-radius(3px);
}
.entry-content img {
	@include box-shadow(rgba(0, 0, 0, 0.2) 0 1px 4px);
}
.site {
	margin: 0 auto;
	max-width: 600px;
}
// Recommended
// http://codex.wordpress.org/Content_Width
.size-auto,
.size-full,
.size-large,
.size-medium,
.size-thumbnail {
	max-width: 100%;
	height: auto;
}



// Header
////////////////////////////////////////////////////////////////////////////////
.site-branding {
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADMAAAA5CAMAAACs5ON+AAAAvVBMVEWyXoCyX4CzYIG0YYK0YoO0Y4O1ZYW2Zoa2aIe3aYi4a4q4bYu7cI67co+8dJG9dpO+eZW/e5bDgZzEgpzFh6DGiKHGiqPIjKTJjaXLkanKk6nOm6/Pm7DSoLTUpLjTpbjWq7zXrL3bs8Pbs8Tdt8fduMjfvczgv8zmy9bny9fo0Nro0tvr1uDr19/v3eXw4Obx4ujx4+rz5+z06e327fH48fT58fX69vj79vj7+Pn8+fr+/f7+/v7//v7////II9XOAAAAAWJLR0QAiAUdSAAAAAlwSFlzAAABEAAAARABBMRn7QAAAAd0SU1FB98EDQ4fMb5MWekAAAC/SURBVEjH7dU1EsNAFATRMTMzMzPz3P9YTlwqS1Z5/waOvJ2/uAFbObqVxdeWLmT1naDuYmoK4z98kGNAYdD7MF0VQfzmILeE0mDiMGM1QcFh8gKDtY1sJAQNm2mITPD0Rs4hkcHgzfRlBMm7RR4pocHMMlMpQdkyJbHB9kV2HrlpvUxTThC+kCSvEQ2DEUlyqEOQfpBkRstgTnKhR1AlWdE03j33Pk2DDtu6BNFTTNugCJPp17k+2BhjjPkL8wSjIqpqb5cnVAAAAABJRU5ErkJggg==") no-repeat;
  @include background-size(contain);
  color: $header-color;
  display: block;
  height: auto;
  line-height: 1;
}
.site-branding:hover { color: $ci-color }
.site-title {
  font-weight: bold;
  letter-spacing: $ls-title;
  @include animation(letterspace 1.5s);
  margin: 0;
  word-spacing: -1px;
}
// Animation for site title
@include keyframes(letterspace) {
  //0% {letter-spacing: -1.5*$ls-title}
  //100% {letter-spacing: $ls-title}
}
.site-description {
  //display: none;
  //font-size: 89%;
  margin: 0;
  //margin: 0 0 0 2px;
}
// Tricky stuff specially for my logo title & description
@media only screen and (max-width: 231px) {
  .site-branding { padding-left: 36px; }
  .site-title { font-size: 87%; max-width: 156px }
  .site-description { display: none }
}
@media only screen and (min-width: 232px) and (max-width: 300px) {
  .site-branding { padding-left: 43px; }
  .site-title { font-size: 87%; }
  .site-description { font-size: 60%; }
}
@media only screen and (min-width: 301px) and (max-width: 391px) {
  .site-branding { padding-left: 55px; }
  .site-title { font-size: 123%; }
  .site-description { font-size: 80%; max-width: 310px }
}
@media only screen and (min-width: 392px) and (max-width: 452px) {
  .site-branding { padding-left: 50px; }
  .site-title { font-size: 192%; }
  .site-description { font-size: 69%; }
}
@media only screen and (min-width: 453px) {
  .site-branding { padding-left: 61px; }
  .site-title { font-size: 225%; }
  .site-description { font-size: 80%; }
}



// Navigation
////////////////////////////////////////////////////////////////////////////////
.main-navigation {
	button {display: none}
	ul {
		list-style: none;
		margin: 0;
		padding-left: 0;
		//text-align: justify;
	}
	ul:after, ul:before {
		content: '';
		display: inline-block;
		width: 100%;
	}
	li {
		display: inline-block;
	}
	a {
		color: $header-color;
		display: block;
		letter-spacing: $letter-spacing;
		padding: 2*$spc $spc;
		text-transform: uppercase;
		text-indent: $letter-spacing;	// To balancing letter-spacing
		word-spacing: -.1rem;
	}
	a:hover {color: $ci-color;}
	li:first-of-type a {
		margin-left: -$letter-spacing;	// To balancing letter-spacing
		padding: 2*$spc $spc 2*$spc 0;
	}
	li:last-of-type a {
		margin-left: -$letter-spacing;	// To balancing letter-spacing
		padding: 2*$spc 0 2*$spc $spc;
	}
}



// Content
////////////////////////////////////////////////////////////////////////////////
.site-content a {
  color: $ci-color;
}
.site-content a:hover {
  color: $link-hover-color;
}
article:first-of-type .entry-title {margin-top: 0}
.entry-meta {font-size: 89%}



// Footer
////////////////////////////////////////////////////////////////////////////////
.site-footer {
	border-top: 1px solid $footer-color;
	color: $footer-color;
	font-size: 90%;
	margin-top: 60px;
	padding-top: 20px;
	a {color: $footer-color}
	a:hover {color: $link-hover-color;}
}
.site-info {font-style: italic;}