// hm15
// Main stylesheet

// Imports
@import "compass/css3";
@import "compass/utilities/general/clearfix";
@import "compass/reset";


// Variables
////////////////////////////////////////////////////////////////////////////////
//	Colors
$ci-color: #b25e80;	// For headings & links
$background-color: #eee;
$font-color: #333;
$header-color: #666;
$link-hover-color: darken($ci-color, 20%);
$footer-color: #999;
// Spaces
$spc: 10px;
$ls-title: 5px;
$letter-spacing: 3px;



// Accessibility
////////////////////////////////////////////////////////////////////////////////
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
}
.screen-reader-text:hover,
.screen-reader-text:active,
.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar. */
}



// Common
////////////////////////////////////////////////////////////////////////////////
body {
	background: lighten($ci-color, 46%);
	color: $font-color;
	font: 120%/1.61803399 Arial, Helvetica, sans-serif;
	line-height: 1.45;
	padding: 0 5px;
	margin: $spc 0;
}
@media only screen and (min-width: 640px) {
  body {
	margin-bottom: 2*$spc;
	margin-top: 2*$spc;
  }
}
a {	text-decoration: none; }
a:hover {
	@include transition-property(color);
	@include transition-duration(.2s);
	@include transition-timing-function(ease-in);
}
a:active,
a:hover {
  outline: 0;
}
figure {margin: 0}
.entry-content img,
.avatar {
	@include border-radius(3px);
}
.entry-content img {
	//@include box-shadow(rgba(0, 0, 0, 0.2) 0 1px 4px);
}
.site {
	margin: 0 auto;
	max-width: 600px;
}
// Recommended
// http://codex.wordpress.org/Content_Width
.size-auto,
.size-full,
.size-large,
.size-medium,
.size-thumbnail {
	max-width: 100%;
	height: auto;
}



// Header
////////////////////////////////////////////////////////////////////////////////
.site-branding {
    @include clearfix;
    display: block;
}
.site-branding-box-left {
    float: left;
    margin-right: 20px;
    width: 76px;
}
.site-branding-box-right {
    color: $header-color;
    float: left;
}
.site-branding-box-right:hover { 
    color: $ci-color 
}
.site-title {
    font-size: 300%;
    letter-spacing: $ls-title;
    line-height: 1;
    margin-left: -3px;
}

.site-description {
}












#colophon,
#site-navigation,
#content {display: none}




















// Navigation
////////////////////////////////////////////////////////////////////////////////
.menu-toggle {
  @media only screen and (max-width: 480px) {
	background-color: $background-color;
	border: 1px solid #fff;
	@include border-radius(5px);
	display: block;
	font-size: 80%;
	letter-spacing: 2px;
	margin: 0 auto;
	padding: $spc 2*$spc;
	text-transform: uppercase;
  }
  @media only screen and (min-width: 481px) {
	display: none;
  }
}
.main-navigation {
  ul {
	list-style: none;
	margin: 0;
	padding-left: 0;
  }
  a {
	color: $header-color;
	display: block;
	letter-spacing: $letter-spacing;
	padding: 0;
	text-transform: uppercase;

	text-indent: $letter-spacing;	// To balancing letter-spacing
	word-spacing: -.1rem;
  }
  a:hover {color: $ci-color;}

  @media only screen and (min-width: 481px) {
	ul {
	  text-align: justify;
	}
	li {
	  display: inline-block;
	}
	a {
	  padding: 2*$spc $spc;
	}
	li:first-of-type a {
	  margin-left: -$letter-spacing;	// To balancing letter-spacing
	  padding: 2*$spc $spc 2*$spc 0;
	}
	li:last-of-type a {
	  margin-left: -$letter-spacing;	// To balancing letter-spacing
	  padding: 2*$spc 0 2*$spc $spc;
	}
	ul:after, ul:before {
	content: '';
	display: inline-block;
	width: 100%;
	}
  }
}
@media only screen and (max-width: 480px) {
  .main-navigation {
	margin: 4*$spc auto;
	text-align: center;
  }
  .main-navigation  ul {
	display: none;
  }
  .toggled ul {
	display: block;
  }
  .main-navigation a {
	background-color: $background-color;
	border-bottom: 1px solid #fff;
	@include border-radius(5px);
	font-size: 80%;
	padding: $spc 0;
	text-align: center;
	width: 100%;
  }
}
@media only screen and (min-width: 481px) {
  .sub-menu {
	display: none;
  }
}

// Content
////////////////////////////////////////////////////////////////////////////////
.site-content a {
  color: $ci-color;
}
.site-content a:hover {
  color: $link-hover-color;
}
article:first-of-type .entry-title {margin-top: 0}
.entry-meta {font-size: 89%}



// Footer
////////////////////////////////////////////////////////////////////////////////
.site-footer {
	border-top: 1px solid $footer-color;
	color: $footer-color;
	font-size: 90%;
	margin-top: 60px;
	padding-top: 20px;
	a {color: $footer-color}
	a:hover {color: $link-hover-color;}
}
.site-info {font-style: italic;}